---
import Layout from '../layouts/Layout.astro';
import Mapa from '../components/Mapa.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="ComoLLegar"/>
	<main>
        <Mapa />
		<Footer />
	</main>
</Layout>