---
import Layout from '../layouts/Layout.astro';
import LaPeriquera from '../components/LaPeriquera.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="San Antonio Masahuat">
	<main>
		<LaPeriquera />
	</main>
</Layout>
