---
import Layout from '../layouts/Layout.astro';
import GridPeriquera from '../components/Grid_Periquera.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="La Periquera"/>
	<main>
		<GridPeriquera />
		<Footer />
	</main>
</Layout>