---
import Layout from '../layouts/Layout.astro';
import Gridpiedra from '../components/Gridpiedra.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="La Periquera"/>
	<main>
		<Gridpiedra />
		<Footer />
	</main>
</Layout>