<h1 class="text-center text-3xl font-bold pt-14 sm:pt-14">La Peña Trabada</h1>

<div class="container mx-auto flex justify-center mt-4"> <!-- Reducido mt-4 para menor margen superior -->
    <div class="grid grid-cols-1 sm:grid-cols-3  gap-6">
        <!-- Primera Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full h-5/4"> <!-- Ajuste de altura a h-60 -->
            <img src="/grupal.jpg" alt="peña1" class="w-full h-full object-cover" />
        </div>
        <!-- Segunda Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full h-5/4"> <!-- Ajuste de altura a h-60 -->
            <img src="/manos.jpg" alt="peña2" class="w-full h-full object-cover" />
        </div>
        <!-- Tercera Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full h-5/4"> <!-- Ajuste de altura a h-60 -->
            <img src="/mujer.jpg" alt="peña3" class="w-full h-full object-cover" />
        </div>
    </div>
</div>

<p class="mt-4 text-center text-2xl font-bold"> <!-- Ajustado mt-4 para menor margen superior -->
  Descubre la magia de La Periquera
</p>
<p class="text-center text-xl mt-2 px-4"> <!-- Ajustado mt-2 para menor margen superior -->
  Déjate cautivar por la majestuosa Cascada La Periquera, un tesoro natural
  escondido en el corazón de San Antonio Masahuat, El Salvador. Su imponente
  caída de agua, de más de 70 metros de altura, crea un espectáculo visual
  incomparable. Rodeada de abundante naturaleza a su alrededor, esta maravilla
  natural te invita a sumergirte en un mundo de aventura. Explora sus senderos,
  refréscate en sus aguas y déjate envolver por la magia de este paraíso
  natural.
</p>
