<h1 class="text-center text-3xl font-bold pt-14 sm:pt-14">
  Cascada La Periquera
</h1>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 pt-6">
  <!-- Primera Columna: combinando 2 columnas en pantallas grandes -->
  <div
    class="col-span-1 sm:col-span-1 flex justify-center items-center bg-red-400 w-full h-60 sm:h-4/6"
  >
    <img
      src="/IMG-20240805-WA0058.jpg"
      alt="Descripción de la imagen 1"
      class="w-full h-full object-cover"
    />
  </div>
  <!-- Segunda Columna: combinando 2 columnas en pantallas grandes -->
  <div
    class="col-span-1 sm:col-span-1 flex justify-center items-center bg-red-400 w-full h-60 sm:h-4/6"
  >
    <img
      src="/ImagenCascada.jpg"
      alt="Descripción de la imagen 2"
      class="w-full h-full object-cover"
    />
  </div>
  <!-- Tercera Columna: combinando 2 columnas en pantallas grandes -->
  <div
    class="col-span-1 sm:col-span-1 flex justify-center items-center bg-red-400 w-full h-60 sm:h-4/6"
  >
    <img
      src="/IMG-20240622-WA0020.jpg"
      alt="Descripción de la imagen 3"
      class="w-full h-full object-cover"
    />
  </div>
</div>

<p class="-mt-72 xl:-mt-72 sm:mt-28 text-center text-2xl font-bold">
  Descubre la magia de La Periquera
</p>
<p class="text-center text-xl ">
  Déjate cautivar por la majestuosa Cascada La Periquera, un tesoro natural escondido en
  el corazón de San Antonio Masahuat, El Salvador. Su imponente caída de agua, de más de 70 metros de
  altura, crea un espectáculo visual incomparable. Rodeada de abundante
  naturaleza a su alrededor, esta maravilla natural te invita a sumergirte en un mundo de
  aventura. Explora sus senderos, refréscate en sus aguas 
  y déjate envolver por la magia de este paraíso natural.
</p>
