<div class="flex flex-col pt-28">
  <div class="flex-1 lg:pr-8">
    <h1 class="text-center text-3xl font-bold pt-10 lg:pt-0 ">
      Cascada La Periquera
    </h1>
  </div>
  
  <div class="container mx-auto flex justify-center mt-4 max-w-screen-xl">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Primera Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full h-80 md:h-5/6">
            <img src="/Entrada.jpg" alt="peña1" class="w-full h-full object-cover" />
        </div>
        <!-- Segunda Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full md:h-5/6">
            <img src="/Periquera.jpg" alt="peña2" class="w-full h-full object-cover" />
        </div>
        <!-- Tercera Columna -->
        <div class="col-span-1 flex justify-center items-center bg-red-400 w-full md:h-5/6">
            <img src="/Periquera3.jpg" alt="peña3" class="w-full h-full object-cover" />
        </div>
    </div>
  </div>
  
  <div class="text-center text-2xl mt-4 sm:mt-8 md:-mt-16 xl:-mt-28 2xl:-mt-28">
    <p class="font-bold">
        Descubre la magia de La Periquera
    </p>
    <p class="text-justify text-xl mt-2 px-4 w-10/12 mx-auto">
        Déjate cautivar por la majestuosa Cascada La Periquera, un tesoro natural escondido en
        el corazón de San Antonio Masahuat, El Salvador. Su imponente caída de agua, de más de 70 metros de
        altura, crea un espectáculo visual incomparable. Rodeada de abundante
        naturaleza a su alrededor, esta maravilla natural te invita a sumergirte en un mundo de
        aventura. Explora sus senderos, refréscate en sus aguas 
        y déjate envolver por la magia de este paraíso natural.
    </p>
</div>


</div>
