<div class="flex flex-col pt-28">
    <div class="flex-1 lg:pr-8">
        <h1 class="text-center text-3xl font-bold pt-10 lg:pt-0">La Peña Trabada</h1>
    </div>
    
    <div class="container mx-auto flex justify-center mt-4 max-w-screen-xl">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <!-- Primera Columna -->
            <div class="col-span-1 flex justify-center items-center bg-red-400 w-full h-80 md:h-5/6">
                <img src="/grupal.jpg" alt="peña1" class="w-full h-full object-cover" />
            </div>
            <!-- Segunda Columna -->
            <div class="col-span-1 flex justify-center items-center bg-red-400 w-full md:h-5/6">
                <img src="/manos.jpg" alt="peña2" class="w-full h-full object-cover" />
            </div>
            <!-- Tercera Columna -->
            <div class="col-span-1 flex justify-center items-center bg-red-400 w-full md:h-5/6">
                <img src="/mujer.jpg" alt="peña3" class="w-full h-full object-cover" />
            </div>
        </div>
    </div>
    
    
    
    <div class="text-center text-2xl mt-4 sm:mt-8 md:-mt-16 xl:-mt-28 2xl:-mt-28 ">
        <p class="font-bold">
            Callejón de la Peña Trabada: Un Tesoro Natural en El Salvador
        </p>
        <p class="text-justify text-xl mt-2 px-4 w-10/12 mx-auto">
            Ubicado en San Antonio Masahuat, La Paz, a solo 25 minutos de San Salvador, el Callejón de la Piedra Trabada se ha convertido en un destino turístico imperdible para los amantes de la naturaleza y la aventura. Este espectacular rincón ofrece un entorno natural en su estado más puro, con senderos rodeados de frondosos árboles, nacimientos de agua y el sonido de aves locales.
        
            El recorrido, ideal para quienes buscan caminatas extremas, culmina en una impresionante formación rocosa: una enorme piedra encajada entre otras, que da nombre al lugar. Perfecto para desconectar y disfrutar de la tranquilidad y la belleza de El Salvador.
        </p>
        
    </div>
    
</div>