
<h1 class="text-center text-3xl font-bold pt-14">Cascada La Periquera</h1>
<p class="mx-auto text-xl text-center mt-5">
    Cascada La Periquera es un atractivo turístico ubicado en el distrito de San Antonio Masahuat en el municipio de La Paz Centro
</p>

<div class="container mx-auto mt-5">
    <div class="relative pb-[56.25%] h-0 overflow-hidden">
        <iframe
            class="absolute top-0 left-0 w-full h-full"
            src="https://www.youtube.com/embed/stUNLumcu54?si=K93HckHYKl1Vs6so"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
</div>



