<!-- Contenedor Principal -->
<div class="flex flex-col pt-28 ">
    <!-- Contenedor del Texto -->
    <div class="flex-1 lg:pr-8">
        <h1 class="text-center text-3xl font-bold pt-10 lg:pt-0">¿Como llegar a San Antonio Masahuat?</h1>
        <p class="text-center text-xl mt-5">
            Cascada La Periquera es un atractivo turístico ubicado en el distrito de San Antonio Masahuat en el municipio de La Paz Centro.
        </p>
    </div>
    
    <!-- Contenedor del Mapa -->
    <div class="flex-1 lg:ml-8 mt-5 lg:mt-0">
        <div class="relative pb-[56.25%] h-0 overflow-hidden">
            <iframe
                class="mx-auto absolute top-0 left-0 w-full h-full"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d289.4332907235636!2d-89.0385212!3d13.5681197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f634b66eeecd335%3A0x293d7dc13d32a237!2sTours%20San%20Antonio%20Masahuat!5e1!3m2!1ses-419!2ssv!4v1724096512206!5m2!1ses-419!2ssv"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
