<a
    href="https://wa.me/78581125"
    class="fixed bottom-4 right-4 bg-green-500 hover:bg-green-600 text-white py-3 px-6 rounded-full shadow-lg flex items-center justify-center space-x-2"
    target="_blank"
    rel="noopener noreferrer"
>
    <!-- Ãcono de WhatsApp -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
        <path d="M12 2.004c-5.522 0-10 4.477-10 10 0 1.772.467 3.43 1.35 4.92L2 22l5.135-1.344A9.943 9.943 0 0012 22.004c5.522 0 10-4.478 10-10 0-5.522-4.478-10-10-10zm4.712 13.523c-.207.579-1.209 1.104-1.626 1.151-.417.046-.803.207-2.71-.564-2.29-.9-3.743-3.125-3.853-3.272-.11-.147-.916-1.219-.916-2.324 0-1.104.558-1.649.754-1.875.196-.225.438-.282.584-.282h.42c.182 0 .331.028.478.392.207.465.707 1.619.77 1.738.061.119.104.258.021.414-.083.157-.124.256-.238.396-.119.143-.25.322-.356.432-.117.121-.239.252-.102.495.137.244.61 1.01 1.312 1.632.901.8 1.659 1.048 1.902 1.159.244.11.384.092.528-.055.145-.146.612-.685.774-.92.161-.236.329-.196.55-.118.221.078 1.407.664 1.649.784.243.121.406.176.467.275.059.099.059.579-.148 1.159z" />
    </svg>
    <!-- Texto Agendar Tour -->
    <span class="text-lg font-semibold">Agendar tour</span>
</a>
